<!DOCTYPE html>
<html  lang="es" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Login</title>
</head>
<body>
<h1>Registro Usuarios</h1>
<div class="container mt=4">
    <table>
        <thead>
        <tr>
            <th>CEDULA</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>USUARIO</th>
            <th>PASSWORD</th>
            <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users:$users">
            <td th:text="${users.id}"></td>
            <td th:text="${users.nameUser}"></td>
            <td th:text="${users.emailUser}"></td>
            <td th:text="${users.user}"></td>
            <td th:text="${users.password}"></td>
            <td>
                <a class="btn btn-warning" >Editar</a>
                <a class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>

</body>
</html>