body{
    font-family: 'Roboto', sans-serif;
    /*background: rgb(3,83,145);
	background: -moz-radial-gradient(circle, rgba(3,83,145,1) 0%, rgba(1,29,48,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(3,83,145,1) 0%, rgba(1,29,48,1) 100%);
	background: radial-gradient(circle, rgba(3,83,145,1) 0%, rgba(1,29,48,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#035391",endColorstr="#011d30",GradientType=1);
	padding: 0px 0;*/

}

*{
    box-sizing: border-box;

}


/*****************
 * HEADER
 * **************/
nav, footer {
    background: rgb(3,83,145);
    background: -moz-radial-gradient(circle, rgba(3,83,145,1) 0%, rgba(1,29,48,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(3,83,145,1) 0%, rgba(1,29,48,1) 100%);
    background: radial-gradient(circle, rgba(3,83,145,1) 0%, rgba(1,29,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#035391",endColorstr="#011d30",GradientType=1);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

nav ul li {
    padding-left:  25px;
    padding-right:  25px;
    border-right: 1px solid #d2fcfa;
}
nav ul li:last-child {
    border-right: 0;
}
nav ul li .nav-link {
    color: #d2fcfa;
    border-bottom:  2px solid transparent;
}
nav ul li .nav-link:hover,nav ul li .nav-link.active {
    color: #fff;
    border-bottom:  2px solid #fff;
}
nav ul li a {
    font-size: 14px;
}
nav ul li form input {
    background-color: #f00;
    border:  0;
    color: #fff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
}
nav ul li form input:hover {
    background-color: #f33;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

footer {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #fff;
    text-align: center;
    padding-bottom: 0;
}
footer p {
    opacity: .7;
    margin-top: 20px;
    font-size: 13px;
}

@media (max-width: 1199px) {
    nav ul li {
        padding-left:  15px;
        padding-right: 15px;
    }
    nav ul li .fa, nav ul li .fas {
        margin-left: 30%;
    }
}
@media (max-width: 890px) {
    nav ul li a strong{
        display: none;
    }
    nav ul li {
        padding-left:  25px;
        padding-right: 25px;
    }

}
@media (max-width: 767px) {
    nav ul li a strong{
        display: inherit;
    }
    nav ul li .fa, nav ul li .fas {
        margin-left: 0; 
        float:  left;
        margin-right:  10px;
    }
    nav ul li {
        border-right:  0;
    }

}