<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >
    <!--<link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}"> -->
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <title>Registro de Productos</title>
</head>
<body>
<header th:replace="nav::header"></header>
<!-- END MENU -->

<!-- TITULO -->

<h1>FORMULARIO PRODUCTOS</h1>

<!-- END TITULO -->


<div class="px-5 py-3">
    <form th:action="@{/producto/guardar}" th:object="${productNew}" method="POST" autocomplete="on" >
        <div class="row mb-3">
            <label class="col-form-label col-sm-2">Codigo</label>
            <div class="col-sm-4">
                <input th:field="*{idCode}" type="text" class="form-control" value="">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-2">Nombre</label>
            <div class="col-sm-4">
                <input th:field="*{productName}" type="text"  class="form-control" value="">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-form-label col-sm-2">NIT</label>
            <div class="col-sm-4">
                <input th:field="*{idProvider}" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-form-label col-sm-2">Precio Compra</label>
            <div class="col-sm-4">
                <input th:field="*{priceProduct}" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-form-label col-sm-2">Iva Compra</label>
            <div class="col-sm-4">
                <input th:field="*{iva}" type="text"  class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-2">Precio Venta</label>
            <div class="col-sm-4">
                <input th:field="*{priceSell}" type="text" class="form-control">
            </div>
        </div>


        <div class="row mb-3">
            <div>
                <input type="submit" value="Guardar" class="btn btn-success">
                <a th:href="@{/producto/listar}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </form>
</div>
<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</body>
</html>

