
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <title>Registro Clientes</title>
</head>
<body>

<!-- CONTAINER -->
<div class="container-lg">

    <!-- MENU-->
    <header th:replace="nav::header"></header>
    <!-- END MENU -->

    <!-- TITULO -->
    <h1>FORMULARIO CLIENTES</h1>
    <!-- END TITULO -->

    <!-- FORM -->
    <div class="col-md-5 col-md-offset-5 mx-auto mt-5">
        <form class="" th:action="@{/cliente/guardar}" th:object="${clientNew}" method="POST" autocomplete="on" >
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputId" class="col-form-label"><i class="fas fa-id-card"></i> Cédula</label>
                </div>
                <div class="col-8">
                    <input th:field="*{idCode}" type="text" id="inputId" class="form-control" value="">
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputNameClient" class="col-form-label"><i class="fas fa-signature"></i> Nombre</label>
                </div>
                <div class="col-8">
                    <input th:field="*{nameClient}" type="text"  id="inputNameClient" class="form-control" value="" >
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputEmailClient" class="col-form-label"><i class="fas fa-envelope"></i> Email</label>
                </div>
                <div class="col-8">
                    <input th:field="*{emailClient}" type="email"  class="form-control" id="inputEmailClient">
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputAddressClient" class="col-form-label"><i class="fas fa-map-marked-alt"></i> Dirección</label>
                </div>
                <div class="col-8">
                    <input th:field="*{addressClient}" type="text" class="form-control" id="inputAddressClient">
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputPhoneClient" class="col-form-label"><i class="fas fa-phone-alt"></i> Teléfono</label>
                </div>
                <div class="col-8">
                    <input th:field="*{phoneClient}" type="text" class="form-control" id="inputPhoneClient">
                 </div>
            </div>

            <div class="row mt-4">
                <div>
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <a th:href="@{/cliente/listar}" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
    <!-- END FORM -->

</div>
<!-- END CONTAINER -->

<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</body>
</html>
