<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <title>Registro Usuarios</title>
</head>
<body>

<!-- CONTAINER -->
<div class="container-lg">

    <!-- MENU-->
    <header th:replace="nav::header"></header>
    <!-- END MENU -->

    <!-- TITULO -->
    <h1>FORMULARIO USUARIOS</h1>
    <!-- END TITULO -->

    <!-- FORM -->
    <div class="col-md-5 col-md-offset-5 mx-auto mt-5">
        <form class="" th:action="@{/usuario/guardar}" th:object="${userNew}"  method="POST" autocomplete="on" >
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputId" class="col-form-label"><i class="fas fa-id-card"></i> Cédula</label>
                </div>
                <div class="col-8">
                    <input th:field="*{id}" type="text" id="inputId" class="form-control" value="">
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputName" class="col-form-label"> <i class="fas fa-signature"></i> Nombre</label>
                </div>
                <div class="col-8">
                    <input th:field="*{name}" type="text" id="inputName" class="form-control" value="">
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputEmail" class="col-form-label"><i class="fas fa-envelope"></i> Correo</label>
                </div>
                <div class="col-8">
                    <input th:field="*{emailUser}" type="email" id="inputEmail" class="form-control">
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputUsername" class="col-form-label"><i class="fas fa-user"></i> Usuario</label>
                </div>
                <div class="col-8">
                    <input th:field="*{username}" type="text"  id="inputUsername" class="form-control">
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <label for="inputPassword" class="col-form-label"><i class="fas fa-key"></i> Contraseña</label>
                </div>
                <div class="col-8">
                    <input th:field="*{password}" type="text" id="inputPassword" class="form-control">
                </div>
            </div>
            <div class="row mt-4">
                <div>
                    <input type="submit" value=" Guardar" class="btn btn-success">
                    <a th:href="@{/usuario/listar}" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
    <!-- END FORM -->


</div>
<!-- END CONTAINER -->


<footer th:replace="nav::footer"></footer>
<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</body>
</html>