<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="@{/css/nav.css}" href="css/styles.css">-->
    <link rel="stylesheet" href="../static/css/nav.css" href="css/styles.css">
    <title>Menu</title>
</head>
<body>
    <div class="container-lg">
        <header th:fragment="header">
        
            <!-- barra de navegación -->
            <nav class="navbar navbar-expand-md col-lg-12">
                <div class="container-fluid">
                    <img src="../static/img/logo.png" width="80" class="d-inline-block align-top" alt="">
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="MenuNav" class="collapse navbar-collapse">
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item"><a class="nav-link" th:href="@{/usuario/listar}"><i class="fas fa-user-tie"></i> <strong>Usuarios</strong></a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/cliente/listar}"><i class="fas fa-user-friends"></i> <strong>Clientes</strong></a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/proveedor/listar}"><i class="fas fa-boxes"></i> <strong>Proveedores</strong></a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/producto/listar}"><i class="fas fa-laptop"></i> <strong>Productos</strong></a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/ventas/listar}"><i class="fas fa-dollar-sign"></i> <strong>Ventas</strong></a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/reportes}"><i class="fas fa-chart-bar"></i> <strong>Reportes</strong></a></li>
                            <li class="nav-item">
                                <form th:action="@{/logout}" method="POST"><input type="submit" value="Salir" >
                                <!--<a  onclick="loginSuccess()" ><i class="fas fa-chart-bar" ></i>Cerrar sesion</a>-->
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <footer th:fragment="footer" class="mt-5 py-3 container-lg">
        <b>USUARIO:</b> <span sec:authentication="name" >Usuario que hizo login</span><br>
        <b>ROL:</b> <span sec:authentication="principal.authorities" >Roles</span>

            <p>Developed by: Sara Sarmiento · Jhon Erik Santos · Victor Trujillo · Daniel Casallas · William Torres</p>


    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</body>
</html>