<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
           rel="stylesheet" >
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="../static/css/usuarios.css" th:href="@{/css/usuarios.css}">
    <title>Usuarios</title>
</head>
<body>

<div class="container-lg">

    <!-- MENU-->
    <header>

        <!-- barra de navegación -->
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <img src="../static/img/logo.png" width="80" class="d-inline-block align-top" alt="">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="MenuNav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-user-tie"></i> Usuarios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-friends"></i> Clientes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-boxes"></i> Proveedores</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-laptop"></i> Productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-dollar-sign"></i> Ventas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Reportes</a></li>
                        <!--<li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-question-circle"></i> Ayuda</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <!-- END MENU -->

    <!-- TITULO -->

    <h1>LISTADO DE PRODUCTOS</h1>

    <!-- END TITULO -->


    <div class="container mt=4 mt=4 table-responsive-lg">
        <a th:href="@{/producto/nuevo}" class="btn btn-dark my-3 py-2 text-center"> <i class="fas fa-plus"></i> Agregar</a>
        <table class="table table-light table-hover">
            <thead>
            <tr>
                <th>CODIGO</th>
                <th>NAME</th>
                <th>NIT</th>
                <th>PRECIO COMPRA</th>
                <th>IVA COMPRA</th>
                <th>PRECIO VENTA</th>
                <th>ACCIONES</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="p:${products}">
                    <td th:text="${p.idCode}"></td>
                    <td th:text="${p.productName}"></td>
                    <td th:text="${p.idProvider}"></td>
                    <td th:text="${p.priceProduct}"></td>
                    <td th:text="${p.iva}"></td>
                    <td th:text="${p.priceSell}"></td>
                    <td>
                        <a th:href="@{/producto/editar/}+${p.idCode}" class="btn btn-warning" >Editar</a>
                        <a th:href="@{/producto/eliminar/}+${p.idCode}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- RESULTADOS TABLA -->

</div>
<!-- END CONTAINER -->
<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</body>
</html>
