<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
           rel="stylesheet" >
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="../static/css/tables.css" th:href="@{/css/tables.css}">
    <title>Proveedores</title>
</head>
<body>

<div class="container-lg">

    <!-- MENU-->
    <header th:replace="nav::header"></header>
    <!-- END MENU -->

    <!-- TITULO -->
    <h1>LISTADO DE PROVEEDORES</h1>
    <!-- END TITULO -->


    <div class="container mt=4 mt=4 table-responsive-lg">
        <a th:href="@{/proveedor/nuevo}" class="btn btn-dark my-3 py-2 text-center"><i class="fas fa-plus-circle"></i> Agregar</a>
        <table class="table table-light table-hover">
            <thead>
            <tr>
                <th>NIT</th>
                <th>RAZON SOCIAL</th>
                <th>CIUDAD</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>ACCIONES</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="p:${providersList}">
                    <td th:text="${p.idProvider}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.city}"></td>
                    <td th:text="${p.addressProvider}"></td>
                    <td th:text="${p.phone}"></td>
                    <td>
                        <a th:href="@{/proveedor/editar/}+${p.idProvider}" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
                        <a  th:onclick="providerDelete([[${p.idProvider}]])" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- RESULTADOS TABLA -->

</div>
<!-- END CONTAINER -->

<footer th:replace="nav::footer"></footer>

<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
<script src="https:/code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../static/js/alerts.js" type="text/javascript" th:src="@{/js/alerts.js}"></script>
</body>
</html>
