<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/nav.css}" href="../static/css/nav.css">
  <!--<link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">-->
  <title>VENTAS</title>
</head>

<body onload="showHour()">

<!-- CONTAINER -->
<div class="container-lg">

  <!-- MENU-->
  <header th:replace="nav::header"></header>
  <!-- END MENU -->

  <!-- TITULO -->
  <h1>STORE TECH VENTAS</h1>
  <!-- END TITULO -->


<form th:action ="@{/saveFactura}"  method="POST">

  <div class="Contenido_Ventas_Informacion">

    <table class="tabla_Datos">
      <tr>
        <td><label>Usuario </label></td>
        <td><select id="selectUsuario" onchange="completarUsuario()"
                    class="tabla_td_select">
          <option value="0">Seleccione el usuario:</option>
          <option th:each="u: ${usuarios}" th:text="${u.nombre_Usuario}"
                  th:value="${u.cedula_Usuario}"></option>
        </select></td>

        <td><input id="inputUsuario" class=" border_input" type="text"
                   name="cedula_Usu_Vta" ></td>
      </tr>
      <tr>
        <td><label>Cliente </label></td>
        <td><select id="selectCliente" onchange="completarCliente()"
                    class="tabla_td_select">
          <option value="0">Seleccione el cliente:</option>
          <option th:each="c: ${clientes}" th:text="${c.nombre_Cliente}"
                  th:value="${c.cedula_Cliente}" ></option>


        </select>
          <input id="nombre_Cli_Vta" name="nombre_Cli_Vta" type="hidden" value="" />
        </td>


        <td><input id="inputCliente" class=" border_input" type="text"
                   name="cedula_Cli_Vta" ></td>

      </tr>
      <tr>
        <td><label>Fecha y Hora </label></td>
        <td><input id="FechaActual" type="text" name="datos_Fecha"
                   class=" border_input tabla_td_select"></td>

        <td><input id="HoraActual" type="text" name="datos_Hora"
                   class=" border_input tabla_td_select"></td>
      </tr>


    </table>

    <table class="tabla_CodigoTotales">
      <tr>
        <td><label>Factura </label></td>
        <td><input type="text" name="codigo_Vta"
                   class=" border_input tabla_td_select" style="text-align: center;"></td>

      </tr>

      <tr>
        <td><label>Valor Factura </label></td>
        <td><input style="text-align: center" id="datoValorFactura"
                   type="text" name=""
                   class=" border_input tabla_td_select "></td>
      </tr>

      <tr>
        <td><label>Valor IVA </label></td>
        <td><input style="text-align: center" id="datoValorIVA"
                   type="text" name="" class=" border_input tabla_td_select"></td>


      </tr>


    </table>

  </div>

  <div class="Contenido_Ventas_Factura">
    <table class="tabla_Factura ">

      <tr>
        <th class="bordes_Tabla color_Gris">Cod. Producto</th>
        <th class="bordes_Tabla color_Gris">Nombre Producto</th>
        <th class="bordes_Tabla color_Gris">Precio Venta</th>
        <th class="bordes_Tabla color_Gris">Cantidad</th>
        <th class="bordes_Tabla color_Gris">Vlr. Total</th>
        <th></th>
      </tr>

      <tr>
        <td class="bordes_Tabla"><input id="inputProducto1"
                                        type="text" name="cod_Producto" class=" border_input"
                                        disabled="disabled"></td>

        <td class="bordes_Tabla"><select id="selectProducto1"
                                         onchange="completarProducto1()" class="tabla_td_select">
          <option value="0">Seleccione el producto:</option>
          <option th:each="p: ${productos}" th:text="${p.nombre_Producto}"
                  th:value="${p.codigo_Producto}"></option>
        </select></td>

        <td class="bordes_Tabla"><input id="precio_SinIVA1"
                                        class=" border_input tabla_td_select"
                                        style="text-align: right; padding-right: 30px;" type="text"
                                        name="precio_SinIVA" disabled="disabled"></td>

        <td class="bordes_Tabla"><input id="cantidadProducto1"
                                        onchange="hallarValorTotalSinIVA1()"
                                        class=" border_input tabla_td_select" style="text-align: center;"
                                        type="text" name="cantidad"></td>

        <td class="bordes_Tabla"><input id="inputTotalSinIVA1"
                                        class=" border_input tabla_td_select"
                                        style="text-align: right; padding-right: 30px;" type="text"
                                        name="valor_sinIVA"></td>

        <td style="text-align: center;"><button
                onclick="eliminarFilaProducto1()" class="btn btn-danger btn-sm">Eliminar</button></td>

      </tr>

      <tr>
        <td class="bordes_Tabla"><input id="inputProducto2"
                                        type="text" name="cod_Producto" class=" border_input"
                                        disabled="disabled"></td>

        <td class="bordes_Tabla"><select id="selectProducto2"
                                         onchange="completarProducto2()" class="tabla_td_select">
          <option value="0">Seleccione el producto:</option>
          <option th:each="p: ${productos}" th:text="${p.nombre_Producto}"
                  th:value="${p.codigo_Producto}"></option>
        </select></td>

        <td class="bordes_Tabla"><input id="precio_SinIVA2"
                                        class=" border_input tabla_td_select"
                                        style="text-align: right; padding-right: 30px;" type="text"
                                        name="precio_SinIVA" disabled="disabled"></td>

        <td class="bordes_Tabla"><input id="cantidadProducto2"
                                        onchange="hallarValorTotalSinIVA2()"
                                        class=" border_input tabla_td_select" style="text-align: center;"
                                        type="text" name="cantidad"></td>

        <td class="bordes_Tabla"><input id="inputTotalSinIVA2"
                                        class=" border_input tabla_td_select"
                                        style="text-align: right; padding-right: 30px;" type="text"
                                        name="valor_sinIVA"></td>

        <td style="text-align: center;"><button
                onclick="eliminarFilaProducto2()" class="btn btn-danger btn-sm">Eliminar</button></td>

      </tr>

      <tr>
        <td class="bordes_Tabla"><input id="inputProducto3"
                                        type="text" name="cod_Producto" class=" border_input"
                                        disabled="disabled"></td>

        <td class="bordes_Tabla"><select id="selectProducto3"
                                         onchange="completarProducto3()" class="tabla_td_select">
          <option value="0">Seleccione el producto:</option>
          <option th:each="p: ${productos}" th:text="${p.nombre_Producto}"
                  th:value="${p.codigo_Producto}"></option>
        </select></td>

        <td class="bordes_Tabla"><input id="precio_SinIVA3"
                                        class=" border_input tabla_td_select"
                                        style="text-align: right; padding-right: 30px;" type="text"
                                        name="precio_SinIVA" disabled="disabled"></td>

        <td class="bordes_Tabla"><input id="cantidadProducto3"
                                        onchange="hallarValorTotalSinIVA3()"
                                        class=" border_input tabla_td_select" style="text-align: center;"
                                        type="text" name="cantidad"></td>

        <td class="bordes_Tabla"><input id="inputTotalSinIVA3"
                                        class=" border_input tabla_td_select"
                                        style="text-align: right; padding-right: 30px;" type="text"
                                        name="valor_sinIVA"></td>

        <td style="text-align: center;"><button
                onclick="eliminarFilaProducto1()" class="btn btn-danger btn-sm">Eliminar</button></td>


      </tr>

      <tr>
        <td rowspan="3 " colspan="3"></td>

        <td class="bordes_Tabla"><label class="padding-left"
                                        for="sub_Total_Factura"> Sub. Total Factura </label></td>

        <td class="bordes_Tabla"><input  id="inputSubTotalSinIVA"
                                         class=" border_input tabla_td_select"
                                         style="text-align: right; padding-right: 30px;" type="text"
                                         name="valor_Vta"></td>
        <td></td>

      </tr>
      <tr>

        <td class="bordes_Tabla"><label class="padding-left"
                                        for="valor_IVA"> Valor IVA </label></td>
        <td class="bordes_Tabla"><input  id="inputValorIVA"
                                         class=" border_input tabla_td_select"
                                         style="text-align: right; padding-right: 30px;" type="text"
                                         name="valor_IVA"></td>
        <td></td>

      </tr>
      <tr>

        <td class="bordes_Tabla"><label class="padding-left"
                                        for="total_Factura"> Total Factura </label></td>
        <td class="bordes_Tabla"><input  id="inputValorTotalFactura"
                                         class=" border_input tabla_td_select"
                                         style="text-align: right; padding-right: 30px;" type="text"
                                         name="valor_Total"></td>


        <td style="text-align: center;"><button type="submit" name="consultar_Usuarios"> Facturar </button>

      </tr>



    </table>


  </div>

</form>


<script th:inline="javascript">
  /*<![CDATA[*/
  var productos = /*[[${productos}]]*/'default';
  /*]]>*/
</script>
<script src="https:/code.jquery.com/jquery-3.4.1.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="funciones.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('input[type=text]').forEach( node => node.addEventListener('keypress', e => {
      if(e.keyCode == 13) {
        e.preventDefault();
      }
    }))
  });
</script>


</body>

</html>