<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        rel="stylesheet" >
  <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
  <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}">
  <link rel="stylesheet" href="../static/css/usuarios.css" th:href="@{/css/usuarios.css}">
  <title>Usuarios</title>
</head>
<body>

<!-- CONTAINER -->
<div class="container-lg">

  <!-- MENU-->
  <header>

    <!-- barra de navegación -->
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <img src="../static/img/logo.png" width="80" class="d-inline-block align-top" alt="">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="MenuNav" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-3">
            <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-user-tie"></i> Usuarios</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-friends"></i> Clientes</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-boxes"></i> Proveedores</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-laptop"></i> Productos</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-dollar-sign"></i> Ventas</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Reportes</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-question-circle"></i> Ayuda</a></li>-->
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <!-- END MENU -->

  <!-- TITULO -->

  <h1>LISTADO DE USUARIOS</h1>

  <!-- END TITULO -->

  <!-- BÚSQUEDA -->
  <!--<form class="form-inline row">
      <input class="form-control col-sm-3 " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 py-2" type="submit">Buscar</button>
  </form>-->

  <!-- END BÚSQUEDA -->

  <!-- RESULTADOS TABLA -->
  <div class="container mt=4 mt=4 table-responsive-lg">
    <a th:href="@{/usuario/nuevo}" class="btn btn-dark my-3 py-2 text-center"> <i class="fas fa-plus"></i> Agregar</a>
    <table class="table table-light table-hover">
      <thead>
      <tr>
        <th>CEDULA</th>
        <th>NOMBRE</th>
        <th>CORREO</th>
        <th>USUARIO</th>
        <th>PASSWORD</th>
        <th>ACCIONES</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="u:${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nameUser}"></td>
        <td th:text="${u.emailUser}"></td>
        <td th:text="${u.nick}"></td>
        <td th:text="${u.password}"></td>
        <td>
          <a th:href="@{/usuario/editar/}+${u.id}" class="btn btn-warning" >Editar</a>
          <a th:href="@{/usuario/eliminar/}+${u.id}" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <!-- RESULTADOS TABLA -->

</div>
<!-- END CONTAINER -->
<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</body>
</html>